.route{
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: rgb(111, 102, 219);
}
.route2{
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: rgb(111, 102, 219);
}
.h2{
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    padding-inline: 1.5rem;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.date{
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    padding-top: 10px;
    color: rgb(150, 150, 150);
    margin-bottom: 20px;
}
.altImg{
    color:rgb(150, 150, 150);
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
}